body {
	background-color: black;
}

.row {
	/*max-width: 900px;*/
	margin:auto;
	/*display: flex;*/
}

.column1 {
	/*background-color: red;*/
	/*padding-left: 150px;*/
	/*margin-right: 170px;*/
}

.column2 {
	/*background-color: blue;*/
	/*margin-left: 200px;
	margin-right: 165px;*/
	padding-right: 50px;
	padding-bottom: 300px;
}

.column3 {
	/*background-color: blue;*/
/*	margin-left: 200px;*/
	/*margin-right: 210px;*/
	padding-right: 0px;
	padding-bottom: 450px;
}

.column4 {
	/*background-color: red;*/
	/*padding-left: 150px;*/
	/*padding-right: 300px;*/
	/*margin-right: 400px;*/
	/*margin-left: 400px;*/
}

p.margin{
	padding-right: 200px;}

p.source {
	color:#7E7D7B;
	font-size: 11px;
}

hr { 
	color: #7E7D7B;
 }

p {
	color: white;
	font-size: 16px;
	font-family: 'Noto Sans SC', sans-serif;
	padding-top: -5px;
	line-height: 24px;
}

h1 {
	font-family: 'Anton', sans-serif;
	/*font-size: 22px;*/
	letter-spacing: 1px;
	padding-top: 0px;
	padding-bottom: -4px;
	/*margin-top: 0px;*/
}
h1.ab {
	color: #EFD502;}

h1.his{
	color: #017dc7;}

h1.act {
	color: #a73a92;}

h1.edu {
	color: #ec008b;}

a:hover {
	color: white;
}

a:link {
	text-decoration: none;}

div.footer {
	/*position: absolute;*/
/*    bottom: 30px;*/
    width: 100%;
}

div.nav {
	/*padding-right: 100px;*/
	padding-left: 100px;
}

div.tapnav {
	width: 5%;
}

img.tap {
	width: 80%;
	padding: 0px;
	padding-left: 40px;
	padding-top: 45px;
	/*float: right;
	padding-right: 200px;*/
}

img.sideimage {
	width: 100%;
	padding-bottom: 20px;
}

img.sideimage5 {
	width: 120%;
	/*margin-left: 20px;*/
	/*padding-left: 40px;*/
}

img.sideimage4 {
	width: 120%;
	padding-bottom: 20px;
}


div.itemboxtwo{
/*	display: inline-block;*/
	padding-right: 20px;
	font-family: 'Anton', sans-serif;
	color: white;
	font-size: 30px;
	margin-top: 0px;
	padding-top: -5px;
	margin-right: 40px;
	height: auto;
	/*width: 900px;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	letter-spacing: 3px;
}

div.innercontent {
	max-width:1000px;
	margin: auto;
	display: flex;
	flex-direction: row-reverse;
}

@media (max-width: 1024px) {
		div.itemboxtwo{
		padding-right: 0px;
		font-family: 'Anton', sans-serif;
		color: white;
		font-size: 28px;
		margin-top: 20px;
		margin-right: 0px;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		letter-spacing: 3px;
}
	div.nav {
		padding-right: 25px;
		padding-left: 20px;
}

	img.tap {
		width: 90px;
		/*padding: 0px;*/
		padding-left: 0px;
		padding-top: 45px;
		padding-right: 5px;
	/*float: right;
	padding-right: 200px;*/
}

div.tapnav {
	width: 10%;
}

.column2 {
	margin-left: 20px;
}

.column4 {
	padding-right: 110px;
}

.column3 {
	margin-left: 20px;
}

}


@media (max-width: 414px) {
		div.itemboxtwo{
		font-family: 'Anton', sans-serif;
		color: white;
		font-size: 10px;
		margin-top: 0px;
		margin-right: 0px;
		/*height: auto;*/
		/*display: flex;*/
		flex-direction: column;
		/*justify-content: center;*/
		letter-spacing: 3px;
}



	div.nav {
		padding-right: 25px;
		padding-left: 20px;
}

	img.tap {
		width: 70px;
		/*padding: 0px;*/
		padding-left: 0px;
		padding-top: 45px;
		padding-right: 5px;
	/*float: right;
	padding-right: 200px;*/
}

	div.tapnav {
		width: 10%;
}
	
	div.innercontent {
		max-width:1000px;
		margin: auto;
		display: flex;
		flex-direction: column-reverse;
}

	.column2 {
		padding-bottom: 10px;
}

	.column3 {
	/*background-color: blue;*/
/*	margin-left: 200px;*/
	/*margin-right: 210px;*/
	padding-right: 0px;
	padding-bottom: 10px;
}

	.column4 {
	/*background-color: red;*/
	/*padding-left: 150px;*/
	/*padding-right: 300px;*/
	/*margin-right: 400px;*/
	/*margin-left: 400px;*/
}


p.margin{
	padding-right: 10px;}

	}







